* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color:rgb(109, 219, 255);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerbox {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border: 3px solid rgb(70, 179, 221);
    border-radius: 20px;
    padding: 10px;
}

.firstbox {
    height: auto;

    align-self: center;
}

.radio {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

.label {
    margin-right: 25px;
}

input[type='radio'] {
    cursor: pointer;
}

label {
    cursor: pointer;
}

.middle {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* padding: 30px; */
   margin-top: 20px;
    text-align: center;

}

.end {
    height: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    padding: 15px;
    row-gap: 10px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 20px;
}

.search {
    width: 340px;
    height: 30px;
    border: 2px solid grey;
    border-radius: 10px;

}


button {
    margin-left: 3px;
    height: 25px;
    width: 25px;
    border-radius: 7px;
    cursor: pointer;

}

.number {
    font-size: 60px;
    font-weight: bold;
    justify-self: center;
}

img {
    height: 230px;
    width: 250px;
    margin-left:60px ;
}
@media (max-width:480px) {
    .outerbox {
    
        display: flex;
        flex-direction: column;
        height: 550px;
        width: 440px;
        border: 3px solid rgb(70, 179, 221);
        border-radius: 23px;
        padding: 10px;
    }
    button {
        margin-left: 3px;
        height: 30px;
        width: 30px;
        border-radius: 7px;
        cursor: pointer;
    
    }
    .end {
        height: auto;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        padding: 15px;
        row-gap: 15px;
        font-size: 15px;
        font-weight: 500;
        margin-top: 30px;
    }
    
}
